In [1]:
import pandas as pd 
df = pd.read_excel("Medanta.xlsx")
df.head(5)

,name,disease,rate,review
0,Dr. Alok Gupta,Cancer,4.1,"Worst hospital, no hygiene, worst staff, docto..."
1,Dr. Amit Agarwal,Cancer,4.7,Here you will get very good facilities. Also t...
2,Dr. Anshul Gupta,Cancer,4.3,Good doctor and all staff is like family membe...
3,Dr. Harshvardhan Atreya,Cancer,4.2,It is not a doctor for paying one star...peopl...
4,Dr. Vivekanand Singh,Cancer,4.5,Good doctor and all staff is like family membe...

In [2]:
find = 'Cancer'
fil = df[(df['disease'] == find)]
hospital = fil[['name', 'rate']]  # Selecting both name and rate columns
hospital_sorted = hospital.sort_values(by='rate', ascending=False)
hospital_sorted

                      name  rate
1         Dr. Amit Agarwal   4.7
4     Dr. Vivekanand Singh   4.5
2         Dr. Anshul Gupta   4.3
3  Dr. Harshvardhan Atreya   4.2
0           Dr. Alok Gupta   4.1